body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.first-section {
  background-color: #1f2937;
  padding-bottom: 66px;
  padding-left: 196px;
  padding-right: 196px;
  padding-top: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  gap: 100px;
}

h3 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.left-hero-text {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: space-between;
}

.right-hero-content {
  background-color: #e5e7eb;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.card-button {
  max-width: fit-content;
  padding: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: #3882f6;
}

.